
@{
    ViewData["Title"] = "ArtistSongGroupGraph";
    ViewData["ActivePage"] = ManageNavPagesGraph.ArtistSongGroup;
    Layout = "~/Views/Graph/_LayoutGraph.cshtml";
}

<div style="background:black; height: 100%; width:100%">
    <div class="menubar">
        <div>
            <label for="textWhich">Show Labels</label>
            <select id="textWhich" onchange="textOnOff()">
                <option value="0">on</option>
                <option value="1" selected="selected">on for highlighted</option>
                <option value="2">on for non-highlighted</option>
                <option value="3">off</option>
            </select>
        </div>
        <div>
            <label for="nodesWhich">Show Nodes</label>
            <select id="nodesWhich" onchange="nodeOnOff()">
                <option value="0" selected="selected">all nodes</option>
                <option value="1">only selected nodes</option>
            </select>
        </div>
    </div>
    <div id="graphDiv"></div>
    <div id="tooltip" class="tooltip"></div>
</div>
<script src="~/js/song_canvas.js">
</script>