div.tooltip {
    position: absolute;
    text-align: center;
    width: 320px;
    height: 72px;
    padding: 2px;
    font: 36px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

label{
    color: white;
}

.texts {
    fill: white;
    opacity: 1;
}

.menubar {
top: 0;
left: 25px;
position: absolute;
}

.menubutton {
    color:black;
}
.menulabel {
    color:white;
}

.bodystyle {
    background:black;
    height: 100%;
}