@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3> We're Open Source!</h3>
<p>     
    Visify is open source and can be viewed at <a href="https://github/.com/0xnf/visify">https://github.com/0xnf/visify</a>.
</p>

<h3>Visify uses Spotify</h3>
<p>
    Without the data made available by <a href="https://developer.spotify.com/">Spotify's API</a>, none of this would be possible.
</p>

<h3>We're (probably) GDPR compliant!</h3>
<p>
    We respect your privacy, and we pledge to never share any of your information with <em>any</em> third parties, and we also make sure to store only what is necessary for Visify to function.<br/>
    Additionally, we embed no trackers in any of these pages.<br/>
    You can (really, truly) delete your account anytime you wish, just head over to your <a asp-area="Identity" asp-page="/Account/Manage/PersonalData">personal data page</a> to begin the process.</br><br/>
    Want to know what we collect in detail? Here it is:
    <ul>
        <li>Your Spotify Id</li>
        <li>Your Spotify username if present</li>
        <li>Your Library's Saved Tracks</li>
    </ul>

    And that's it. Pretty clean, right?
</p>

<h3>We use other people's tools to help get the job done.</h3>
<p>
    Visify is built with other pieces of software, which we're thankful for. Here's the complete list:
</p>
<ul>
    <li>
        <a href="https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers">AspNet Security OAuth Providers</a>
    </li>
    <li>
        <a href="https://sqlite.org/index.html">SQLite</a>
    </li>
    <li>
        <a href="https://www.newtonsoft.com/json">Newtonsoft JSON</a>
    </li>
    <li>
        <a href="https://github.com/NLog/NLog.Web">NLog</a>
    </li>
    <li>
        <a href="https://d3js.org/">d3.js</a>
    </li>
</ul>