@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<h3>Bugs?</h3>
<p>
    To notify us of bugs, we'd prefer if you opened an issue on our GitHub repo located <a href="https://github.com/0xnf/visify/issues">here</a>.<br/>
    However, we understand that not everyone has a GitHub account. If you can't open an issue there, please send an email to  <a href="mailto:visifybugs@winetech.com">visifybugs@winetech.com</a>.<br />
    Remember to include as much information as possible!
</p>

<h3>Everything else?</h3>
<p>
    We'd love to hear from you. Shoot us an email at  <a href="mailto:visifyfeedback@winetech.com">visifyfeedback@winetech.com</a><br />
</p>
