@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Home";
    int imgWidth = 200;
    int imgHeight = imgWidth;
}
@inject SignInManager<Visify.Areas.Identity.Data.VisifyUser> SignInManager


<div class="centerbox">
    <div style="text-align: center">
        <h1 style="text-decoration:underline; font-size:48px">Visify</h1>
        <div class="imagesep">
            <img src="~/images/collab.png" height="@imgHeight" width="@imgWidth" />
            <img src="~/images/songgroup.png" height="@imgHeight" width="@imgWidth" />
        </div>
        <div class="pblock">
            <p style="text-align:center">
                Explore your Spotify library in new ways.
            </p>
            <p>
                See the connections between all the artists in your library with the <em>Artist Collaboration Graph View</em>, and see how many degrees away everybody is from Dua Lipa, or see who is in their own little cluster.
            </p>
            <p>
                Or check out the <em>Artist Song Graph View</em>, which shows each artist along with all the songs they've done. You may be surprised to see how many songs one or two artists in your library have done.
            </p>
        </div>

        <div class="imagesep">
            <img src="~/images/starmap.png" height="250" />
            <img src="~/images/starburst.png" height="250" />
        </div>


        @if (SignInManager.IsSignedIn(User)) {
            <a asp-area="Identity" asp-page="/Account/Manage/Library">
                Head over to your library and start visualizing
            </a>
        }
        else {
            <form class="spotifybtn spotifybtn-primary spotifybtn-small" method="post" asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnUrl="/Identity/Account/Manage/Library">
                <button type="submit" name="provider" value="Spotify" style="background: transparent; border-color: transparent; color: #fff" title="Log in using your Spotify account">Sign in with Spotify</button>
            </form>
        }

    </div>
</div>