@{
    ViewData["Title"] = "Release Notes";
}
<h2>@ViewData["Title"]</h2>


<h3>Jan 4 2018</h3>
<h4>Patch 0.10.0</h4>
<p>
    Initial beta release of Visify. Included are two graph views:
    <ul>
        <li>Artist Song Count</li>
        <li>Artist Collab Link</li>
    </ul>
</p>

